@model Standus_5_0.Areas.AppSetup.Models.Shift

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShiftID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
