@model IEnumerable<Standus_5_0.Areas.HumanResource.Models.SlabDetails>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.SlabID)
            </th>
            <th>
                From Amount
            </th>
            <th>
                To Amount
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SlabID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>@* 
            <td>
                    <a href="SlabSchedule?slabid=@item.SlabID&detailsid=@item.ID&categoryid=@item.CategoryID&allowanceid=@ViewData["AllowanceID"]&deductionid=@ViewData["DeductionID"]">Schedule</a> |
                    <a href="SlabCalculation?slabid=@item.SlabID&detailsid=@item.ID&categoryid=@item.CategoryID&allowanceid=@ViewData["AllowanceID"]&deductionid=@ViewData["DeductionID"]">Allowance</a>
            </td> *@
        </tr>
}
    </tbody>
</table>