@model IEnumerable<Standus_5_0.Areas.HumanResource.Models.LoanSchedule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Installment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Installment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sanction.SanctionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SanctionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SanctionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SanctionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
