@model IEnumerable<Standus_5_0.Areas.HumanResource.Models.BankDetails>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFSCCode)
            </th>
            <th>
                Inactive
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFSCCode)
            </td>
            <td>
                <input type="checkbox">
            </td>
        </tr>
}
    </tbody>
</table>
