@model Standus_5_0.Areas.HumanResource.Models.StandardDeductionExclude

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
</div>

<h5>Edit Exception</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeID" />
            <input type="hidden" asp-for="DeductionID" />
            <div class="form-group">
                <label class="control-label">Employee</label>
                <label class="form-control">@Html.DisplayFor(model => model.Employee.Name)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Deduction Type</label>
                <label class="form-control">@Html.DisplayFor(model => model.Deduction.Name)</label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Exclude"/>@Html.DisplayNameFor(model => model.Exclude)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Include"/>@Html.DisplayNameFor(model => model.Include)
                </label>
            </div><br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

<script>
    $(document).ready(function () {
        $('#Exclude').change(function () {
            if ($(this).is(':checked')) {
                $('#Include').prop('checked', false);
            }
        });

        $('#Include').change(function () {
            if ($(this).is(':checked')) {
                $('#Exclude').prop('checked', false);
            }
        });
    });
</script>