@model Standus_5_0.Areas.HumanResource.Models.Deduction

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Deduction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CutOffType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CutOffType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CutOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CutOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoundOf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundOf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Variable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Variable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnYearlyIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnYearlyIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayRollSlNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayRollSlNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fixed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fixed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebitTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebitTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerDebitTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerDebitTo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
