@model IEnumerable<Standus_5_0.Areas.HumanResource.Models.Deduction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<div class="flex-header-container">
    <div>
        <h5>Deductions</h5>
    </div>

    <div>
        <a asp-action="Create">Add New Deduction</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoundOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnYearlyIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayRollSlNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoundOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnYearlyIncome)
            </td>
                <td>
                    @if (item.Fixed != null)
                    {
                        <span>Fixed</span>
                    }
                    else
                    {
                        <span>  </span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayRollSlNo)
            </td>
            <td>
                    @if(item?.InActive == false) {
                    <span style="color:mediumseagreen;font-weight:bold">Active</span> }
                    else
                    {
                        <span style="color:orangered;font-weight:bold"> Inactive </span>
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                    @if (item?.InActive == false)  {
                        <a href="/humanresource/slabcategories/create?id=0&deductionid=@item.ID">Assign To</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
