
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@* <ul>
    <li><a asp-controller="Employees" asp-action="Create">Staff</a></li>
    <li><a asp-controller="EmployementDetails" asp-action="Edit" asp-route-id="@ViewData["EmployeeID"]">Details</a></li>
    <li><a asp-controller="BankDetails" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">Bank Details</a></li>
    <li><a asp-controller="Educations" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">Education</a></li>
    <li><a asp-controller="Statutories" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">Statutory</a></li>
    <li><a asp-controller="Families" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">Family</a></li>
    <li><a asp-controller="EmploymentHistories" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">History</a></li>
</ul> *@

<div class="progress">
    <div class="circle done">
        <div class="label_box">
            <span class="label"></span>
            <span class="title">
                @if (ViewData["mode"] == "Create") {
                    <a asp-controller="Employees" asp-action="Create">Staff</a>
                }
                else{
                    <a asp-controller="Employees" asp-action="Edit" asp-route-id="@ViewData["EmployeeID"]">Staff</a>
                }
            </span>
        </div>

    </div> <span class="bar done"></span>

    <div class="circle done">
        <div class="label_box">
            <span class="label"></span>
            <span class="title">
                <a asp-controller="EmployementDetails" asp-action="Edit" asp-route-id="@ViewData["EmployeeID"]">Details</a>
            </span>
        </div>

    </div> <span class="bar done"></span>

    <div class="circle done">
        <div class="label_box">
            <span class="label"></span>
            <span class="title">
                <a asp-controller="BankDetails" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">Bank Details</a>
            </span>
        </div>
    </div>

    <span class="bar done"></span>

    <div class="circle done">
        <div class="label_box">
            <span class="label"></span>
            <span class="title">
                <a asp-controller="Educations" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">Education</a>
            </span>
        </div>
    </div>

    <span class="bar done"></span>

    <div class="circle active">
        <div class="label_box">
            <span class="label"></span>
            <span class="title">
                <a asp-controller="Statutories" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">Statutory</a>
            </span>
        </div>
    </div>

    <span class="bar done"></span>

    <div class="circle active">
        <div class="label_box">
            <span class="label"></span>
            <span class="title">
                <a asp-controller="Families" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">Family</a>
            </span>
        </div>
    </div>

    <span class="bar done"></span>

    <div class="circle active">
        <div class="label_box">
            <span class="label"></span>
            <span class="title">
                <a asp-controller="EmploymentHistories" asp-action="Create" asp-route-id="@ViewData["EmployeeID"]">History</a>
            </span>
        </div>
    </div>

</div>

<style>
    *,
    *:after,
    *:before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: "Open Sans"; */
    }
    /* Form Progress */

    /*add*/
    .label_box {
        display: inline-flex;
        align-items: center;
    }
    /*--------------*/

    .progress {
        margin: 20px auto;
        text-align: center;
        padding-bottom: 80px;
        display: flex; /*add*/
        flex-direction: column; /*add*/
        align-items: center; /*add*/
        justify-content: space-between; /*add*/
        height: 500px;
        width:200px !important;
        background-color:white;
    }

        .progress .circle,
        .progress .bar {
            display: inline-block;
            background:lightgray;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            border: 1px solid #d5d5da;
            vertical-align: top;
        }

        .progress .bar {
            position: relative;
            width: 20px;
            height: 6px;
            /*margin: 0 -5px 17px -5px;*/ /*remove*/
            border-left: none;
            border-right: none;
            border-radius: 0;
            /*top:16px;*/ /*remove*/
            vertical-align: top; /*add*/
            transform: rotate(90deg); /*add*/
            /* background-color:whitesmoke; */
        }

        .progress .circle .label {
            display: inline-block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border-radius: 32px;
            margin-top: 3px;
            margin-left: 3px; /*add*/
            /* color: #b5b5ba; */
            font-size: 17px;
        }

        .progress .circle .title {
            /* color: #b5b5ba; */
            font-size: 13px;
            line-height: 18px;
            /*margin-left: -30px;*/ /*remove*/
            display: block;
            width: 100px;
            /*margin-top: 5px;*/ /*remove*/

            margin-left: 10px; /*add*/
            text-align: start; /*add*/
        }
        /* Done / Active */

        .progress .bar.done,
        .progress .circle.done {
            background: #eee;
        }

        .progress .bar.active {
            background: linear-gradient(to right, #EEE 10%, #FFF 30%);
        }

        .progress .circle.done .label {
            color: #FFF;
            background: #8bc435;
            box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
        }

        .progress .circle.done .title {
            color: #444;
        }

        .progress .circle.active .label {
            color: #FFF;
            background: #0c95be;
            box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
        }

        .progress .circle.active .title {
            color: #0c95be;
        }
</style>