@model Standus_5_0.Areas.HumanResource.Models.Education

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
</div>

<h5>Add Education</h5>
<hr/>
<div style="display:flex;flex-direction:row;">
    <div class="staff-menu">
        <partial name="../_StaffMenu" />
    </div>
    <div class="col-md-4 form-container">
        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <Input name="EmployeeID" class ="form-control" value="@ViewData["EmployeeID"]" type="hidden"/>
            <div class="form-group">
                <label asp-for="EducationType" class="control-label">Education Type</label>
                @* <select asp-for="EducationType" class="form-control" asp-items="ViewBag.EducationType"></select> *@
                    <Input asp-for="EducationType" class="form-control" asp-items="@ViewData["EducationType"]" />
                <span asp-validation-for="EducationType" class="text-danger"></span>
            </div>         
            <br>

                <div class="form-group form-footer">
                    <input type="submit" value="Create" class="btn btn-primary" /> | 
                    <a href="/Humanresource/Employees/Index">Back to List</a>
                </div>
        </form>
        <br>
        <div id="education">
        </div>
    </div>
</div>
<script>
    $.ajax({
        url: '/Humanresource/Educations/Index',
        type: 'GET',
        data: { id: @ViewBag.EmployeeId},
        success: function (result) {
            $("#education").html(result);
        }
    });
</script>



