@model Standus_5_0.Areas.HumanResource.Models.SlabCategory

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<h5>Add Category [ @ViewData["Name"] ] </h5>
<hr />
<form asp-action="Create">
    <div class="row align-items-lg-center">
        <!-- Flexbox to align vertically -->
        <!-- Category Select -->
        <div class="col-md-6">
            <!-- Half width for category select -->
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.SlabID" name="SlabID">
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label">Category</label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="col-md-6">
            <!-- Half width for submit button -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> | 
                @if (ViewBag.AllowanceID > 0 ) {
                    <a href="/HumanResource/Allowances">Back to Allowance List</a> 
                } else {
                    <a href="/HumanResource/Deductions">Back to Deduction List</a>
                }
            </div>
        </div>
    </div>
</form>
@* <partial name="../SlabCategories/index"> *@
    <br>
    <div id="slabdetails">
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("index", "SlabCategories")',  // Ensure this is the correct URL for your action
                type: 'GET',
                data: { slabid: @ViewData["SlabID"], allowanceid: @ViewData["AllowanceID"], deductionid: @ViewData["DeductionID"]},
                success: function (result) {
                    $('#slabdetails').html(result);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: " + error);
                }
            });
        });

    </script> 
