@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create">Assign Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Category) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.CategoryID
            </td>
                <td>
                    @item.Category
                </td>
            <td>
                @item.SlabID
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var model = new Standus_5_0.Areas.HumanResource.Models.SlabDetails();
    
}

<partial name="../SlabDetails/_create" model="model">

    <div id="slabdetails">
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("index", "SlabDetails")',  // Ensure this is the correct URL for your action
                type: 'GET',
                data: {
                    slabid: 0,
                    categoryid: 0
                },
                success: function (result) {
                    $('#slabdetails').html(result);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: " + error);
                }
            });
        });

    </script>
