@model IEnumerable<Standus_5_0.Areas.HumanResource.Models.AttendanceHead>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<div class="flex-header-container">
    <div>
        <h5>Attendance Head</h5>
    </div>

    <div>
        <a asp-action="Create">Create New Head</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Head Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Paid
            </th>
            <th>
                Leave
            </th>
            <th>
                Max Allowed
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reimburse)
            </th>
            <th>
                Default
            </th>
            <th>
                Holiday
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeadType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLeave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reimburse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDefault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHoliday)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
