@model IEnumerable<Standus_5_0.Areas.HumanResource.Models.AttendanceDetailsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group" id="message">
        </div>
    </div>
</div>

<div class="flex-header-container">
    <div>
        <h5>Daily Attendance</h5>
    </div>
    <div>
        Select Date : <input type="date" id="attendance_date" >
    </div>
    <div>
        <a href="javascript:void()" class="btn btn-primary" onclick="add_attendance()">Add Attendance</a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutTime)
            </th>
            <th>Status
            <th>
                @Html.DisplayNameFor(model => model.ShiftName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Head1Name)/
                @Html.DisplayFor(modelItem => item.Head2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AttendanceID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        
        $('input[type="datetime-local"]').prop('disabled', true);
        //$('select').prop('disabled', true);

        $("#attendance_date").on('change', function () {
            var attendance_date = $("#attendance_date").val();
            window.location.href = '/Humanresource/AttendanceDetails/Index?date=' + attendance_date;
        });

        var selected_date = '@ViewData["Date"]';
        if (selected_date == "") {
            selected_date = new Date().toISOString().split('T')[0];
        }
        $("#attendance_date").val(selected_date);

    });
    function add_attendance() {
        var status;
        var attendance_date = $("#attendance_date").val();
        var promise = $.ajax({
            url: '/HumanResource/AttendanceDetails/AddAttendance',
            type: 'GET',
            data: { date: attendance_date }
        }).then(function (result) {
            status = result;
        }).catch(function (error) {

        });

        promise.done(function () {
            $("#message").html(status);
        })
    }
</script>