@model IEnumerable<Standus_5_0.Areas.HumanResource.Models.EAndDSetting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}


<div class="flex-header-container">
    <div>
        <h5>Allowance And Deduction Settings</h5>
    </div>

    <div>
        <a asp-action="Create">Create New</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Query)
            </th>
            <th>
                Allowance
            </th>
            <th>
                Deductions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Query)
            </td>
            <td>
                @item.Allowance?.Name  
            </td>
            <td>
                @item.Deduction?.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
